version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    depends_on:
      - database
      - selenium
    networks:
      - webmap-network

  database:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/password
    volumes:
      - neo4j_data:/data
    networks:
      - webmap-network

  selenium:
    image: selenium/standalone-chrome
    volumes:
      - /dev/shm:/dev/shm 
      - chrome_profiles:/tmp/chrome
    ports:
      - 4444:4444
    networks:
      - webmap-network

volumes:
  neo4j_data:
  chrome_profiles:

networks:
  webmap-network:
